/* Section별 카드 영역 공통으로 적용 */
.nations{
    display: grid;
    grid-template-columns: repeat(12, 257px);
    grid-template-rows: 418px;
    grid-gap: 15px;
    position: absolute;
    width: 100%;
    left: 0px;
    transition: left 0.3s ease-out;
}
.nation{
    width: 254px;
    height: 418px;
    margin-top: 15px;
}

.nation:last-child{
    margin-right: 0;
}

.nation_image{
    width: 100%;
    height: 338px;
    border-radius: 10px;
    background-size: cover;
    position: relative;
}
.nation_image:hover{
    transition: background-image 0.8s;
    background-size: cover;
}

.likes_btn {
    all: unset;
    position: absolute;
    top:3%;
    right: 5%;
}

.soldout_btn {
    all: unset;
    text-align: center;
    width: 40px;
    height: 25px;
    background-color: white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    margin: 10px;
}

/* 국가, 가격 정보 */

.nation_information > h3{
    font-size: 14px;
    color:rgba(128, 128, 128, 0.8);
    margin: 10px 0;
}

.nation_information > p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.3em;
}

.nation_information > span{
    font-size: 15px;
    font-weight: bold;
}


@media screen and (max-width:1440px) {
    .nations {
        height: 444px;
    }
    .nation_image{
        height: 264px;
    }
}