/* 최상단 유저 Nav 영역 */
.user_container{
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: rgba(0 0 0 / 8%) 0px 1px 12px;
}

.user_nav {
    width: 63.4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
/* 로고 색깔 */
.main_logo > a {
    color: rgb(255, 56, 92);
}

/* 사용자 메뉴 영역 */
.user_menu{
    display: flex;
    align-items: center;
    height: 80px;
}

/* 호스트 되기, 언어 선택 부분 */
.user_menu > li > a{
    text-decoration: none;
    color: rgb(10, 10, 10);
    font-weight: 600;
}

/* 사용자 메뉴 공통 영역 */

.user_menu .become_host,
.user_menu .user_language{
    width: 96px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    border-radius: 20px;
}

.user_menu .become_host:hover,
.user_menu .user_language:hover{
    background-color: rgba(128, 128, 128, 0.05);
}

/* 사용자 메뉴 중 지구본 모양 */

.user_menu .user_language {
    width: 46px;
    line-height: 45px;
    margin-right: 10px;
}

/* 유저 로그인, 회원가입, 햄버거 버튼 */

.user_login_btn {
    all: unset;
    width: 77px;
    height: 42px;
    border-radius: 20px;
    cursor: pointer;
}
.user_login_btn .profile_svg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.15);
    border-radius: 20px;
}

.user_login_btn:hover{
    box-shadow: 2px 4px rgb(0 0 0 / 18%);
    transition: box-shadow 0.2s ease-in-out;
}

.profile_svg > svg {
    display: inline-block;
    margin-left: 5px;
    color: rgba(128, 128, 128, 0.9);
}

.profile_svg > svg:first-child {
    color: rgba(10, 10, 10, 0.9);
    margin-right: 5px;
}

.user_login {
    position: relative;
}

/* 메인 배경, 타이틀 부분 */

.main_cotent {
    width: 100%;
    height: 961px;
    background-image: url("https://a0.muscache.com/im/pictures/f13f758e-0629-4cb2-b728-3e2f0dc3772b.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
}

/* 메인 타이틀 부분 */
.main_cotent .main_title{
    width: 63.4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_title > h1{
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 30px;
}

.main_title > span {
    max-width: 360px;
    word-break: keep-all;
    line-height: 1.5em;
}

/* 로그인 모달 영역 */

.login_modal {
    width: 240px;
    height: 237px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 16px;
    border-radius: 10px;
    position: absolute;
    bottom: -605%;
    left: -210%;
    display: flex;
    flex-direction: column;
}

.login_modal > a{
    font-size: 14px;
    color:black;
    text-decoration: none;
    padding-left: 15px;
    height: 42px;
    line-height: 42px;
}

.login_modal > a:hover{
    background-color:rgba(128, 128, 128, 0.05);
}

.login_modal > a:first-child {
    font-weight: bold;
    margin-top: 10px;
}

.login_line {
    width: 100%;
    border-top:1px solid rgba(128, 128, 128, 0.3);
    margin: 5px 0;
}

.show_login {
    display: none;
}


@media screen and (max-width: 1440px) {
    .user_nav{
        width: 88.9%;
    }
}

