/* 언어 설정 및 통화 모달 */

.language_modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.35);
    z-index: 1999;
}

.language_container{
    width: 1032px;
    height: 939px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    overflow-y: scroll;
    border-radius: 15px;
}

/* 닫기 버튼 */

.close_btn {
    all: unset;
    width: 30px;
    height: 30px;
    position: fixed;
    top: 2%;
    left: 2%;
    font-size: 16px;
    text-align: center;
    line-height: 27.5px;
    border-radius: 50%;
    cursor: pointer;
}

.close_btn:hover{
    background-color: rgba(128, 128, 128, 0.1);
}

/* 언어 및 통화 선택 영역 */

.choice_lists{
    width: 95%;
    margin: 80px auto 20px auto;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.choice_lists > button {
    all: unset;
    height: 38px;
    font-size: 14px;
    padding: 0 10px;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 8px;
    position: relative;
    transition: background-color 0.4s ease-out;
}

.choice_lists > button::after {
    content: '';
    position: absolute;
    bottom: -30%;
    left: 12%;
    width: 80%;
    height: 1px;
    border-top: 3px solid black;

}

.choice_lists > button:hover{
    background-color: rgba(128, 128, 128, 0.07);
}

/* 추천 언어 및 지역 영역 */

.recommend_location,
.choice_location {
    width: 95%;
    height: 147px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recommend_location > h2,
.choice_location > h2{
    font-size: 22px;
    font-weight: bold;
    color: #484848;
}

/* 추천 언어 및 지역 리스트 */

.contries {
    display: grid;
    grid-template-columns: repeat(5, 176px);
    grid-template-rows: 72px;
    grid-gap: 15px;
    align-items: center;
    margin-bottom: 30px;
}

.contries > li {
    width: 176px;
    height: 52px;
    margin-left: 3px;
    border-radius: 10px;
}

.contries > li:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

.contries > li > a {
    width: 176px;
    height: 52px;
    font-size: 14px;
    color:#484848;
    text-decoration: none;
}

.contries > li > a > div {
    display: inline-block;
    width: 100%;
    margin-left: 15px;
    padding-top: 5px;
}

.contries > li > a > div:first-child {
    font-weight: 500;
    padding-top: 10px;
}

/* 언어와 지역 선택 영역에서 추가 설정*/

.chocie {
    grid-template-rows: repeat(18, 72px);
    margin-top: 15px;
}

.chocie > li {
    height: 64px;
}

.chocie > li > a > div:first-child{
    padding-top: 15px;
    font-weight: 400;
}

.show_language {
    display: none;
}